.HomeMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Caption {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
}

.OfferImg {
  width: 100%;
}

.OffersLoader {
  width: 100%;
  display: flex;
  padding: 168px;
  justify-content: center;
  align-items: center;
}

.OffersList {
  width: 80%;
  padding: 0;
}

.OffersMain {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 45%;
  margin-top: 20px;
}

.DealsMain {
  width: 80%;
}

.DealsHeading {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #183b56;
}

.SortCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.SelectAndSort {
  display: flex;
  justify-content: space-between;
}

.Select {
  border: none;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  background-color: transparent;
}
.RestaurantImage {
  min-width: 130px;
  max-width: 130px;
  height: 100px;
  border-radius: 10px;
}

.RestaurantItemCon {
  display: flex;
  margin: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.RestaurantItemCon:hover {
  box-shadow: 0px 0px 20px 0px rgb(207, 206, 206);
}

.Item {
  height: 110px;
  margin-bottom: 10px;
  width: 33%;
  margin-left: 0;
}

.RestaurantName {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #334155;
  margin: 0;
}

.FastFood {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  color: #64748b;
  margin: 0;
}

.RatingCon {
  display: flex;
  align-items: center;
}

.Rating {
  margin: 0;
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 700;
  color: #1e293b;
}

.DetailsCon {
  display: flex;
  height: 100px;
  padding: 5px;
  flex-direction: column;
  justify-content: space-around;
}

.RestaurantsCon {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.PageNav {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.PageBtn {
  border: solid 1px #334155;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.RestaurantsMainCon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
  .Caption {
    font-size: 12px;
  }
  .OffersLoader {
    padding: 60px;
  }
  .OffersList {
    width: 100%;
  }
  .DealsHeading {
    font-size: 24px;
  }
  .Item {
    width: 100%;
  }
  .SelectAndSort {
    flex-direction: column;
    justify-content: flex-start;
  }
  .DealsMain {
    width: 95%;
  }
}
.page {
  font-family: 'Bree Serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
