.LogoTitle {
  font-family: 'DM Sans';
  font-size: 24px;
  font-style: italic;
  line-height: 32px;
  color: #f7931e;
  font-weight: 700;
}
@media (max-width: 768px) {
  .LogoTitle {
    font-size: 16px;
    line-height: 24px;
  }
}

.LogoImg {
  width: 60px;
}
@media (max-width: 768px) {
  .LogoImg {
    width: 35px;
  }
}
.LogOutBtn {
  width: 73px;
  height: 32px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  background-color: #f7931e;
  color: white;
  border: none;
  cursor: pointer;
}

.LinksCon {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .LinksCon {
    display: none;
  }
}
.HamburgerBtn {
  display: none;
}
@media (max-width: 768px) {
  .HamburgerBtn {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #231f20;
  }
}
.LogCon {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .LogCon {
    width: 155px;
  }
}
.HearCon {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .HearCon {
    width: 100%;
    padding: 10px;
  }
}
.HeaderMain {
  width: 100%;
  min-height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}
@media (max-width: 768px) {
  .HeaderMain {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.SmallMenu {
  display: none;
}
@media (max-width: 768px) {
  .SmallMenu {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
  }
}
.SmallLinks {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.HeaderItems {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 165px;
}
