.btnCon {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  border: 1px solid #3e4c59;
  border-radius: 3px;
  color: #3e4c59;
  cursor: pointer;
}
.count {
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
